/* style.css */

* {
    padding: 0px;
    margin:  0px;
    box-sizing: border-box;
    
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
    margin: 8px 0px;
    /* border:  2px solid red; */
}

.header{
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* .header > * {
    border: 2px solid black;
} */

.name {
    flex-shrink: 0;
}

nav {
    display: flex;
    gap: 16px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    align-self: center;
    font-size: 36px;
    padding: 8px;
    flex-shrink: 0;
    font-family: "Indie Flower";
    font-weight: 600;
}

/* above css code is for header section */

main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    flex-wrap: wrap;
    gap: 16px;
}

.main-section ul {
    list-style: none;
}

.top-half {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;

}